body {
    background-color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loader-container {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    z-index: 9999;
    border-radius: inherit;
    cursor: wait;

    i {
        color: black;
        position: absolute;
        top: 55%;
        left: 50%;
        font-size: 32px;
        margin-left: -18px;
        margin-top: -22px;
    }

    &.loader-container-fixed {
        position: fixed;
    }

    &.loader-container-absolute {
        position: absolute;
    }
}

.site-container {
    position: relative;

    > div {
        background-color: black;

        > i {
            color: white;
        }
    }

    .active {
        display: inline-block;
    }

    .inactive {
        display: none;
    }
}

.post {
    background-color: white;
    min-width: 340px;
    min-height: 70px;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    position: relative;

    > h1 {
        margin: 0px;
        width: 100%;
    }
}

.poster-text-container {
    white-space: pre-line;
    margin-top: -10px;

    > img {
        float: right;
        max-width: 260px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .text-container {
        margin-top: -20px;
    }
}

.links-container {
    > a {
        display: table;

        &:hover {
            color: red;
        }
    }
}

.photo-album-text-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;

    .photo-album-container {
        position: relative;
        background: black;
        color: white;
        margin-bottom: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        > a > img {
            width: 100%;
            display: inline-block;
        }

        .photo-album-pagination {
            text-align: center;
            display: inline-block;
            height: 35px;
            line-height: 35px;
            width: 100%;
            cursor: default;
            margin-top: -5px;

            .photo-album-page-counter {
                font-size: 120%;
            }

            .btn-photo-album {
                display: inline-block;
                min-width: 10%;
                cursor: pointer;
                width: 20vw;

                &:hover {
                    color: red;
                }

                &:focus {
                    background-color: black;
                }
            }

            > span {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}

iframe {
    padding-top: 10px;
    width: 100%;
    height: 60vh;
}

.generic-container {
    background-color: white !important;
    margin-left: 25%;
    width: 52%;
    border-radius: 10px;
    margin-top: 0px;
}

.header-container {
    display: flex;
    margin-left: 25%;
    width: 52%;
}

.header-container-right {
    width: 100%;
}

.banner {
    background-color: white !important;
    height: 100px;

    > img {
        width: 100%;
        height: 100%;
    }
}

.menu-desktop {
    background-color: white !important;
    height: 40px;
    border-radius: 10px;
    display: flex;
    margin-left: 5px;

    > a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: black;
            border-color: white;
            border-top: 1px solid;
            border-bottom: 1px solid;
            height: 97%;
        }

        &:active {
            background-color: red;
        }
    }

    > a:first-child {
        &:hover {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-left: 1px solid;
        }
    }

    > a:last-child {
        &:hover {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-right: 1px solid;
        }
    }

    .active {
        text-decoration: underline;
        display: flex;
    }
}

.music-album-title {
    padding-left: 5%;
    padding-top: 10px;
    margin-bottom: 0px;
}

.soundcloud-container {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
    border: none;
    min-height: 460px;
}

.contact-container-wrapper {
    text-align: center;

    &:first-child {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    &:last-child {
        padding-bottom: 15px;
    }
}

.contact-container {
    padding-top: 5px;
    padding-bottom: 5px;

    > a {
        color: black;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }
}

@media screen and (max-width: 1000px) {

    .loader-container {
        i {
            font-size: 50px;
            margin-top: -30px;
            margin-left: -25px;
        }
    }

    .header-container {
        width: 90%;
        margin-left: 3%;
    }

    .post {
        max-width: 90%;
        margin-left: 3%;
        min-width: 0px;
        min-height: 100px;

        .photo-album-container {
            > a > img {
                margin-bottom: 20px;
            }
        }

        .photo-album-pagination {
            font-size: 200%;
            margin-bottom: 25px;
        }

        .photo-album-text-container {
            .text-container {
                font-size: 150%;
            }

            .photo-album-container {
                > div > i {
                    margin-top: -60px;
                }
            }
        }

        .poster-text-container, links-container {
            font-size: 150%;

            > img {
                margin: 10px;
                float: none;
            }
        }

        .poster-text-container {
            font-size: 150% !important;
        }
    }

    iframe {
        height: 30vh;
    }

    .links-container {

        > a {
            margin-bottom: 10px;
        }
    }

    .generic-container {
        width: 94%;
        margin-left: 3%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 981px) {
    .loader-container {
        i {
            font-size: 70px;
            margin-top: -60px;
            margin-left: -40px;
        }
    }

    .post {

        .loader-container {
            i {
                font-size: 50px;
                margin-top: -30px;
                margin-left: -35px;
            }
        }

        > h1 {
            margin-left: 15px;
        }

        .poster-text-container, .links-container {
            font-size: 130%;
            margin-left: 2%;

            .text-container {
                font-size: 130%;
                margin-top: 0px;
                width: 98%;
            }

            > a {
                font-size: 150%;
            }

            > img {
                margin: 0;
                float: none;
                max-width: 97%;
                margin-top: -30px;
            }
        }

        .photo-album-container {
            width: 96%;
            margin-left: 2%;

            .photo-album-pagination {
                height: 80px;

                .btn-photo-album {
                    font-size: 250%;
                }

                .photo-album-page-counter {
                    font-size: 250%;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
    }

    iframe {
        height: 27vh;
        width: 96%;
        margin-left: 2%;
    }

    .header-container {
        width: 94%;
        margin-left: 2.5%;
    }

    .logo {
        display: none;
    }

    .banner {
        height: 150px;
    }

    .menu-desktop {
        font-size: 200%;
        height: 100px;
        padding-right: 10px;

        .menubtn-bio {
            width: 20%;
        }

        .menubtn-music {
            margin-left: -15px;
        }
    }

    .contact-container {
        > a {
            font-size: 250%;
        }
    }
}
