<!DOCTYPE html>
<html>

<head>
    <title>M.P.I.S.A</title>

    <link href="./Content/style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>

    <script src="./Scripts/ng-app/app.js"></script>
    <script src="./Scripts/ng-app/objects/async-result-api-call.js"></script>
    <script src="./Scripts/ng-app/objects/async-result.js"></script>
    <script src="./Scripts/ng-app/objects/post-link.js"></script>
    <script src="./Scripts/ng-app/directives/video-embed.js"></script>
    <script src="./Scripts/ng-app/api/service.js"></script>
    <script src="./Scripts/ng-app/api/models/content-item.js"></script>
    <script src="./Scripts/ng-app/api/models/post-content-item-details.js"></script>
    <script src="./Scripts/ng-app/api/models/photo-content-item-details.js"></script>
    <script src="./Scripts/ng-app/api/models/lyrics-album.js"></script>
    <script src="./Scripts/ng-app/api/models/lyrics.js"></script>
    <script src="./Scripts/ng-app/controllers/main-controller.js"></script>
</head>

<body>
    <div ng-app="mpisaApp">
        <div ng-controller="mainController">
            <div ng-repeat="item in contentItems">
                <span ng-show="getContentItemsAsync.isInProgress">Loading</span>
                <a class="btn" ng-click="getContentItems(item.path)">
                    {{ item.path }}
                </a>
                <span ng-show="item.getDetailsAsync.isInProgress">Loading</span>
                <hr />
                <h1>{{ item.postDetails.title }}</h1>
                <h1>{{ item.photoAlbumDetails.title }}</h1>

                <span>{{ item.postDetails.text }}</span>
                <span>{{ item.photoAlbumDetails.text }}</span>
                <hr />
                <div ng-repeat="link in item.postDetails.postLinks">
                    <a href="{{link.link}}">{{link.text}}</a>

                </div>
                <hr />
                <div ng-repeat="embed in item.postDetails.embeds">
                    <video-embed src="embed"></video-embed>
                </div>
                <hr />
                <img src="{{ item.postDetails.posterLink }}"/>
                <img src="{{ item.photoAlbumDetails.posterLink }}"
                     ng-click="getPhotos(item)" />
                <hr />
                <div ng-repeat="photo in item.photoAlbumDetails.photoLinks">
                    <img src="{{ photo }}" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>