<!DOCTYPE html>
<html>
<head>
    <title>M.P.I.S.A</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./Content/main.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>

    <script src="./Scripts/tools.js"></script>
    <script src="./Scripts/libs/angular-soundmanager2.js"></script>
    <script src="./Scripts/ng-app/app.js"></script>
    <script src="./Scripts/ng-app/objects/async-result-api-call.js"></script>
    <script src="./Scripts/ng-app/objects/async-result.js"></script>
    <script src="./Scripts/ng-app/objects/album-manager.js"></script>
    <script src="./Scripts/ng-app/directives/video-embed.js"></script>
    <script src="./Scripts/ng-app/filters/post-filter.js"></script>
    <script src="./Scripts/ng-app/api/service.js"></script>

    <script src="./Scripts/ng-app/api/models/content-item.js"></script>
    <script src="./Scripts/ng-app/api/models/post.js"></script>
    <script src="./Scripts/ng-app/api/models/post-details.js"></script>
    <script src="./Scripts/ng-app/api/models/lyrics-album.js"></script>
    <script src="./Scripts/ng-app/api/models/lyrics.js"></script>

    <script src="./Scripts/ng-app/controllers/main-controller.js"></script>
</head>

<body>
    <div ng-app="mpisaApp">
        <div ng-controller="mainController">
            <div class="site-container">
                <div class="loader-container loader-container-fixed"
                     ng-show="getPostsAsync.isInProgress">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
                <div class="header-container noselect">

                    <div class="logo">
                        <img src="./Content/galva.png" />
                    </div>

                    <div class="header-container-right">
                        <div class="banner">
                            <img src="./Content/banner_temp.png" />
                        </div>

                        <div class="menu-desktop">
                            <a ng-class="getMenuItemClass(0)"
                               ng-click="setMenuIndex(0)">Įrašai</a>
                            <a ng-class="getMenuItemClass(1)"
                               ng-click="setMenuIndex(1)">Nuotraukos</a>
                            <a class="menubtn-bio"
                               ng-class="getMenuItemClass(2)"
                               ng-click="setMenuIndex(2)">Bio</a>
                            <a class="menubtn-music"
                               ng-class="getMenuItemClass(3)"
                               ng-click="setMenuIndex(3)">Muzika</a>
                            <a ng-class="getMenuItemClass(4)"
                               ng-click="setMenuIndex(4)">Kontaktas</a>
                        </div>
                    </div>
                </div>
                <div ng-repeat="post in posts | postFilter:menuIndex"
                     ng-show="menuIndex === 0 || menuIndex === 1">
                    <div class="post"
                         ng-cloak>
                        <div class="loader-container loader-container-absolute"
                             ng-show="post.getDetailsAsync.isInProgress">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </div>
                        <h1>{{ post.details.title }}</h1>
                        <div class="poster-text-container"
                             ng-hide="::post.isPhotoAlbum">
                            <img src="{{post.details.posterLink}}" />
                            <div class="text-container">{{post.details.text}}</div>
                        </div>
                        <div class="photo-album-text-container"
                             ng-show="::post.isPhotoAlbum">
                            <div class="photo-album-container noselect"
                                 ng-hide="post.getDetailsAsync.isInProgress">

                                <div class="loader-container loader-container-absolute"
                                     ng-show="post.getPhotosAsync.isInProgress || post.details.getPhotoBytesAsync.isInProgress">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </div>

                                <a href="{{post.details.photoLinks[post.details.photoAlbumPageIndex]}}"
                                   target="_blank"
                                   ng-hide="post.getPhotosAsync.isInProgress">
                                    <img ng-src="data:image/JPEG;base64,{{post.details.photoBytes[post.details.photoAlbumPageIndex]}}">
                                </a>
                                <div class="photo-album-pagination">
                                    <a class="btn-photo-album"
                                       ng-hide="post.getPhotosAsync.isInProgress"
                                       ng-click="post.details.previousPhoto()"><i class="fa fa-step-backward"></i></a>
                                    <span class="photo-album-page-counter"
                                          ng-hide="post.getPhotosAsync.isInProgress">{{ post.details.photoAlbumPageIndex + 1}}/{{post.details.photoLinks.length}}</span>
                                    <a class="btn-photo-album"
                                       ng-hide="post.getPhotosAsync.isInProgress"
                                       ng-click="post.details.nextPhoto()"><i class="fa fa-step-forward"></i></a>
                                </div>
                            </div>
                            <div class="text-container">
                                {{post.details.text}}
                            </div>
                        </div>
                        <div class="links-container"
                             ng-hide="::post.isPhotoAlbum">
                            <a ng-repeat="link in post.details.links"
                               href="{{link.url}}"
                               target="_blank">{{link.text}}</a>
                        </div>
                        <div ng-repeat="embed in post.details.embeds"
                             ng-hide="::post.isPhotoAlbum">
                            <video-embed src="embed"></video-embed>
                        </div>
                    </div>
                </div>
                <div class="generic-container"
                     ng-show="menuIndex === 2">
                    <div class="bio-photo-container">
                        <img class="bio-photo" src="./Content/ausra.jpg" />
                        <img class="bio-photo" src="./Content/dvd3.png" />
                        <img class="bio-photo" src="./Content/gustas.jpg" />
                        <img class="bio-photo" src="./Content/stasys2.png" />
                    </div>
                </div>
                <div class="generic-container"
                     ng-show="menuIndex === 3">
                    <div class="album-collection-container noselect">
                        <div ng-repeat="album in albumManager.albums"
                             class="album-container"
                             ng-class="getAlbumClass(album.title)"
                             ng-click="setAlbum($index)">
                            <img src="{{::album.cover}}" />
                            <span>{{::album.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="generic-container player"
                     ng-show="menuIndex === 3">
                    <div class="player-controls noselect">
                        <div class="player-buttons">
                            <a prev-track><i class="fa fa-step-backward"></i></a>
                            <a play-pause-toggle><i class="fa fa-play"></i></a>
                            <a next-track><i class="fa fa-step-forward"></i></a>
                        </div>
                        <div class="seekBase" seek-track>
                            <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                        </div>
                    </div>
                    <div class="playlist-container">
                        <div class="playlist">
                            <a ng-repeat="song in currentAlbum.songs"
                               music-player="play"
                               add-song="song">
                                <span class="song-title">{{::song.title}}</span>
                                <span class="song-duration">01:00</span>
                                <span class="song-position">00:00/</span>
                            </a>
                        </div>
                        <div class="lyrics">
                            {{currentSongLyrics}}
                        </div>
                    </div>
                   
                </div>
                <div class="generic-container"
                     ng-show="menuIndex === 4">
                    <div class="contact-container-wrapper">
                        <div class="contact-container noselect">
                            <a href="http://fb.me/MartynasPabegimasIrSunkinanciosAplinkybes"
                               target="_blank"><i class="fa fa-facebook-official"></i>&nbsp;Martynas Pabėgimas ir Sunkinančios Aplinkybės</a>
                        </div>
                        <div class="contact-container">
                            <a href="mailto:{{::contact}}"
                               target="_blank"><i class="fa fa-envelope"></i>&nbsp;{{::contact}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>